.order-form-section {
  margin-top: 3em;
}
.order-form-section label {
  margin-left: 1em;
}
.order-form-section button {
  margin-top: 2.5em;
  padding: 0.5em 1.5em;
  font-size: 1.4rem;
  border-radius: 10px;
  cursor: pointer;
  background: rgb(181, 100, 46);
  transition: 1s all;
}
.order-form-section button:hover {
  background: rgb(255, 102, 0);
  padding: 0.5em 4em;
  transition: 1s all;
}
